{% extends "base.html" %}
{% block content %}

    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Control Panel</th>
      <th scope="col"><a class="btn btn-secondary" href="{%url 'customercontrol' %}">Manage Users</a></th>
        <th scope="col"><a class="btn btn-secondary" href="{%url 'staffcontrol' %}">Manage Staff</a></th>
    <th scope="col"><a class="btn btn-secondary" href="{%url 'orders' %}">Manage Orders</a></th>
      <th scope="col"><a class="btn btn-secondary" href="{%url 'advert-control' %}">Manage Adverts</a></th>
      <th scope="col"><a class="btn btn-secondary" href="{%url 'article-control' %}">Manage Articles</a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
    </table>
{% endblock %}