{% extends "base.html" %}

{% block content %}
    <h1 class="font1">Our premium customers:</h1>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col"><a class="btn btn-secondary" href="">Username</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Name</a></th>
      <th scope="col"><a class="btn btn-secondary" href="">Email</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Phone</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Date of Birth</a></th>
    </tr>
  </thead>
  <tbody>

        {% for c in premium %}
        <tr>
            <td>{{c.id}}</td>
        <td>
        <a href="">{{ c.user.username }}</a></td>
        <td>{{c.user.first_name}} {{c.user.last_name}} </td>
        <td>{{ c.user.email}}</td>
        <td>{{ c.mobile}}</td>
        <td>{{ c.dob}}</td>
        <td><ul>{% for item in c.user.groups.all %}<li>{{ item}}</li>{% endfor %}</ul></td>
        <td><a class="btn btn-danger" href="{% url 'user-delete' c.id  %}">Delete</a></td>
        <td><a class="btn btn-success" href="{% url 'user-update' c.pk  %}">Update</a></td>
        </tr>
        {% endfor %}
  </tbody>
  </table>
    <h1 class="font1">Our customers:</h1>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col"><a class="btn btn-secondary" href="">Username</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Name</a></th>
      <th scope="col"><a class="btn btn-secondary" href="">Email</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Phone</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Date of Birth</a></th>
    </tr>
  </thead>
  <tbody>

        {% for c in customer %}
        <tr>
            <td>{{c.id}}</td>
        <td>
        <a href="">{{ c.user.username }}</a></td>
        <td>{{c.user.first_name}} {{c.user.last_name}} </td>
        <td>{{ c.user.email}}</td>
        <td>{{ c.mobile}}</td>
        <td>{{ c.dob}}</td>
        <td><ul>{% for item in c.user.groups.all %}<li>{{ item}}</li>{% endfor %}</ul></td>
        <td><a class="btn btn-danger" href="{% url 'user-delete' c.id  %}">Delete</a></td>
        <td><a class="btn btn-success" href="{% url 'user-update' c.pk  %}">Update</a></td>
        </tr>
        {% endfor %}
  </tbody>
  </table>
{% endblock %}