{% extends "base.html" %}

{% block content %}
    <h1 class="font1">Our orders</h1>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col"><a class="btn btn-secondary" href="">Date</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Customer</a></th>
      <th scope="col"><a class="btn btn-secondary" href="">Order</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">Address</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">City</a></th>
        <th scope="col"><a class="btn btn-secondary" href="">State</a></th>
    </tr>
  </thead>
  <tbody>

        {% for c in orders %}
        <tr>
            <td>{{c.id}}</td>
        <td>
        <a href="">{{ c.date_added }}</a></td>
        <td>{{c.customer}} </td>
        <td>{{ c.order}}</td>
        <td>{{ c.address}}</td>
        <td>{{ c.city}}</td>
        <td>{{ c.state}}</td>
        <td><a class="btn btn-danger" href="{% url 'user-delete' c.id  %}">Delete</a></td>
        <td><a class="btn btn-success" href="{% url 'user-update' c.id  %}">Update</a></td>
        </tr>
        {% endfor %}
  </tbody>
  </table>

{% endblock %}