{% extends "base.html" %}

{% block title %}
Chat

{% endblock %}

{% block content %}
<section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3 mb-6">
                        <section class="hero is-primary">
                            <div class="hero-body">
                                <p class="title">
                                   Chat z ekspertem
                                </p>

                            </div>
                        </section>
                    </div>

                    <div class="column is-4 is-offset-4">
                        <div class="field">
                            <label>Room name</label>

                            <div class="control">
                                <input class="input" type="text" placeholder="Room name" id="room-name-input">
                            </div>
                        </div>

                        <div class="field">
                            <label>Username</label>

                            <div class="control">
<!--                                <input class="input" type="text" placeholder="Username" id="username-input">-->
                                <div class="user" id="username-input">{{request.user}}</div>
                            </div>
                        </div>
                        </br>
                        <div class="field">
                            <div class="control">
                                <a class="btn btn-secondary" id="room-name-submit">Entry Room</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            document.querySelector('#room-name-input').focus();

            document.querySelector('#room-name-submit').onclick = function(e) {
                var roomName = document.querySelector('#room-name-input').value;
                var userName = '{{request.user}}';
<!--                var userName = document.querySelector('{{request.user}}').value;-->

                    window.location.replace('chat/' + roomName + '/?username=' + userName);
<!--                    window.location.replace('chat/' + roomName + '/?username=' + {{request.user}});-->
            };
        </script>
{% endblock %}