.accordion_one .panel-group {
    border: 1px solid #f1f1f1;
    margin-top: 10px

}

a:link {
    text-decoration: none
}

.accordion_one .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0px solid transparent;
    border-radius: 0;
    margin: 5
}

.accordion_one .panel-default {
    border: 0
}

.accordion-wrap .panel-heading {
    padding: 0px;
    border-radius: 0px
}

h5 {
    font-size: 30px;
    line-height: 20px

}

.accordion_one .panel .panel-heading a.collapsed {
    color: #999999;
    display: block;
    padding: 12px 30px;
    border-top: 0px

}

.accordion_one .panel .panel-heading a {
    display: block;
    padding: 12px 30px;
    background: #fff;
    color: #313131;
    border-bottom: 1px solid #f1f1f1


}

.accordion-wrap .panel .panel-heading a {
    font-size: 14px

}

.accordion_one .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: ;
    padding-top: 0;
    padding: 15px 30px 0px 15px;
    background: #fff;
    color: #999999;
    transition: 0.4s;
    font-size: 14px;
    text-align: justify;
}


.accordion_one .panel .panel-heading a.collapsed:after {
    content: '\02795';
    color: #999999;
    background: #f1f1f1
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    width: 20px;
    line-height: 48px;
    text-align: justify;
    background: #F1F1F1;
    float: left;
    margin-left: -31px;
    margin-top: -12px;
    margin-right: 15px
}

.accordion_one .panel .panel-heading a:after {
    content: "\2796";
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    width: 0px;
    height: 0px;
    text-align: justify;
    background: #F1F1F1;
    float: left;
    margin-left: -31px;
    margin-top: -12px;
    margin-right: 15px
}

.thumbnail2{
	width: 100%;
	height: 250px;
	float: right;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}