{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ strategy.title }}</h1>
    <img class="thumbnail" src="{{ strategy.image_url_safe }}">
    <h3>{{ strategy.short_description }}</h3>
    <p> {{ strategy.content }} </p>

{% if request.user|has_group:"staff" %}
<a class="btn btn-secondary" href="{% url 'investment_strategies-update' strategy.slug %}">Update Stretegy</a>
<a class="btn btn-danger" href="{% url 'investment_strategies-delete' strategy.slug %}">Delete Stretegy</a>
{% endif %}
{% endblock %}