{% extends 'index.html' %}
{% block content %}
<h2>FAQ</h2>


  <div class="accordion" id="accordionExample">
      {% for faq in faqy %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
       <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse"">
           {{ faq.question }}
        </button>
      </h2>
    </div>
  <div id="collapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {{ faq.answer }}
      </div>
    </div>
  </div>
{% endfor %}
<a class="btn btn-primary" href="{% url 'faq-create' %}">New Question</a>

{% endblock %}