{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}
{% block content %}

<div class="row">

<div class="col-sm-8 accordion_one">
    {% for faq in faqy %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" id="heading{{ faq.id }}">
                <h5 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse{{ faq.id }}"
                       aria-expanded="false" aria-controls="collapseOne" class="collapsed"> {{ faq.question }} </a>
                </h5>
            </div>
            <div id="collapse{{ faq.id }}" class="panel-collapse collapse" aria-expanded="false" aria-labelledby="heading{{ faq.id }}" role="tablist" style="height: 0px;">
                <div class="panel-body">
                    <div class="text-accordion">
                        <p>{{ faq.answer }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="col-sm-4 accordion_two">
        <div id="carouselslide" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
        {% for advert in adverts %}
            {% if forloop.first %}
                <div class="carousel-item active  ">
            {% else %}
                  <div class="carousel-item  ">
            {% endif %}
                        <div class="img" style=" float: align; width: 15em; height: 15em;">
                   <a href="{% url 'advert-detail' advert.slug %}"><img class="thumbnail2" src="{{ advert.image_url_safe }}"></a>
                        </div>
                </div>
        {% endfor %}
                </div>
             </div>
            </br>
        <div id="carouselslide1" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
                 {% for advert in adverts %}
            {% if forloop.counter == 2 %}
                <div class="carousel-item active  ">
            {% else %}
                  <div class="carousel-item  ">
            {% endif %}
               <div class="img" style=" float: align; width: 15em; height: 15em;">
                   <a href="{% url 'advert-detail' advert.slug %}"><img class="thumbnail2" src="{{ advert.image_url_safe }}"></a>
               </div>
                </div>
        {% endfor %}
            </div>
             </div>
            </br>
        <div id="carouselslide2" class="carousel slide" data-ride="carousel">
             <div class="carousel-inner">
        {% for advert in adverts %}
            {% if forloop.counter == 3 %}
                <div class="carousel-item active  ">
            {% else %}
                  <div class="carousel-item  ">
            {% endif %}
               <div class="img" style=" float: align; width: 15em; height: 15em;">
                   <a href="{% url 'advert-detail' advert.slug %}"><img class="thumbnail2" src="{{ advert.image_url_safe }}"></a>
               </div>
                </div>
        {% endfor %}
            </div>
             </div>
        </div>
        </div>
        </br>
        </div>
    </div>
</div>
{% endblock %}