{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-lg-4">
    <img class="thumbnail" src="{{ product_detail.image_url_safe }}"></div></div>
<h1 class="lobster">{{ product_detail.name }} </h1>

<h3>{{ product_detail.short_description }}</h3>


<button  data-product="{{ product_detail.id }}" data-action="add" class="btn btn-outline-secondary add-btn
				update-cart">Add to Cart</button>


<br>
<br>
<a class="btn btn-success" href="{% url 'product-update' product_detail.id  %}">Update product</a>

<br><br>
<a class="btn btn-danger" href="{% url 'product-delete' product_detail.id  %}">Delete product</a>

{% endblock %}